# ---- Mac/Win messy files

.DS_Store
Thumbs.db

# ---- Temporary files

*~
\#*#

# ---- Byte-compiled Java

*.class

# ---- Log files

*.log

# ---- Files not needed

sessionj/.hg/**/*
sessionj/.hg/*
sessionj/bin/*

# ---- Tex compilation files
*.aux
*.dvi
*.pdf
