# ---- Mac/Win messy files

.DS_Store
Thumbs.db

# ---- Temporary files

*~
\#*#

# ---- Byte-compiled Java

*.class
sessionj/compiler/protocoldecls/**

# ---- Log files

*.log

# ---- Files not needed

sessionj/.hg/**/*
sessionj/.hg/*
sessionj/bin/*

# ---- Tex compilation files
*.aux
*.dvi
report/*.pdf
*.toc
*.out
*.bbl
*.blg

# ---- eclise files

.classpath
.externalToolBuilders
.project
.settings/**

